######################
### Chamber Heater ###
######################

[heater_generic chamber_heater]
heater_pin: PC8
sensor_type: Generic 3950
sensor_pin: PC2
control: watermark
max_power: .5
min_temp: 0
max_temp: 110

[verify_heater chamber_heater]
max_error: 120
check_gain_time: 120
hysteresis: 5
heating_gain: 2

##########################
### Chamber Heater Fan ###
##########################

[heater_fan chamber_heater_fan]
pin: PB6
max_power: 1.0
heater: chamber_heater
heater_temp: 40.0 # fan will turn off below this level

#############################
### Enclosure Temperature ###
#############################

[thermistor chamber_thermistor]
temperature1: 25
resistance1: 10000
beta: 3950

[temperature_sensor enclosure_temp]
sensor_type: chamber_thermistor
sensor_pin: PC1
min_temp: 0
max_temp: 80